# --- Específicos de Flutter/Dart en subcarpetas ---
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.packages
**/doc/api/
**/pub/
**/coverage/

# --- Android ---
**/android/local.properties
**/android/app/debug/
**/android/app/profile/local
**/android/app/release/
**/android/gradlew
**/android/gradlew.bat
**/GeneratedPluginRegistrant.java
**/.gradle/
**/gradle/
**/*.keystore
**/*.jks

# --- iOS/macOS ---
**/ios/Flutter/.last_build_id
**/ios/Flutter/Ephemeral/
**/ios/Flutter/Generated.xcconfig
**/Pods/
**/.symlinks/

# --- IDEs y Editores ---
**/.idea/
**/*.iml
**/*.ipr
**/*.iws
**/.vscode/

# --- Sistema y temporales ---
**/.DS_Store
**/*.log
**/*.swp
**/*.class
**/*.pyc
**/node_modules/
**/history
**/svn/
**/migrate_working_dir/
**/app.*.symbols
**/app.*.map.json

**/.env
**/google-services.json
